body{
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Verdana;
}
h1{
	font-size: 3em;
	color: white;
}


a:hover {
  color: red ;
  background-color: white ;
}

a{
	text-decoration: none;
}